body {
  color: white;
  background-color: black;
  font-family: 'Merriweather', serif;
}

h1 {
  font-family: 'Merriweather', serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

/*============================================ INDEX - CSS ================================================*/
.navbar {
  padding-bottom: 0.5rem;
  padding-top: 2%;
}

.nav-item {
  padding: 0 10px;
}

.outset {
  border-bottom: solid;
  border-color: #ffff;
}
.out:hover {
  text-decoration: none;
  border-color: #66bfbe;
}
.nav-link {
  font-size: 20px;
}

.hr1 {
  border-style: dotted none none;
  border-color: white;
  border-width: 10px;
  width: 10%;
}

.hr2 {
  border-bottom: solid;
  border-color: #66BFBF;
}

.pavan {
  font-size: 100px;
  color: #66BFBF;
  padding-top: 100px;
  text-align: center;
  font-weight: bold;
  font-family: 'Sacramento', cursive;
}

.pavan1 {
  color: #66BFBF;
  text-align: center;
  font-weight: bold;
}

.but01 {
  margin: 5% 3% 5% 0;
}

.hi {
  font-style: oblique;
}

.skills {
  padding: 5% 15%;
}

.hello {
  padding-top: 40px;
  text-align: center;
}

.sk {
  padding-bottom: 9%;
}

.skil1 {
  padding-top: 3%;
  text-align: center;
}

.skill1 {
  padding-left: 40%;
}

.skil2 {
  padding-top: 3%;
  text-align: center;
}

.skill2 {
  padding-left: 40%;
}

.skil3 {
  padding-top: 3%;
  padding-left: 13%;
  text-align: center;
}

.skill3 {
  padding-left: 40%;
}

/*================================================= Hire - CSS ============================================*/
